CompileFlags:
  Add:
    - -std=c++23
    - -Imodules

    # Core / scripting
    - -Iexternals/core/repo/src/server/game/Scripting
    - -Iexternals/core/repo/src/server/scripts

    # Common game types
    - -Iexternals/core/repo/src/server/game/Entities/Player
    - -Iexternals/core/repo/src/server/game/Entities/Creature
    - -Iexternals/core/repo/src/server/game/Entities/Unit
    - -Iexternals/core/repo/src/server/game/Entities/Object
    - -Iexternals/core/repo/src/server/game/Entities/GameObject
    - -Iexternals/core/repo/src/server/game/Entities/Item

    # Common systems
    - -Iexternals/core/repo/src/server/game/Chat
    - -Iexternals/core/repo/src/server/game/Globals
    - -Iexternals/core/repo/src/server/game/Spells
    - -Iexternals/core/repo/src/server/game/World
    - -Iexternals/core/repo/src/server/game/Maps

    # Shared
    - -Iexternals/core/repo/src/server/shared
    - -Iexternals/core/repo/src/server/shared/Utilities
    - -Iexternals/core/repo/src/server/shared/Logging
    - -Iexternals/core/repo/src/server/shared/Database
    - -Iexternals/core/repo/src/server/shared/Configuration

Diagnostics:
  UnusedIncludes: Strict
  MissingIncludes: Strict

InlayHints:
  Enabled: true
  ParameterNames: true
  DeducedTypes: true
