###################################################################################################
# EXAMPLE MODULE
###################################################################################################

#
#    Example.Enable
#        Description: Enables or disables the example module.
#        Default:     1
#

Example.Enable = 1
